version: "3.8"

services:
  analytics-service:
    container_name: analytics-service
    build:
      context: .
      dockerfile: Dockerfile
    image: analytics-service:latest
    ports:
      - "4002:4002"
    environment:
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:9092
    networks:
      - microservice-net

networks:
  microservice-net:
    external: true
