version: "3.8"

services:
  billing-service:
    container_name: billing-service
    build:
      context: .
      dockerfile: Dockerfile
    image: billing-service:latest
    ports:
      - "4001:4001"
      - "9001:9001"
    networks:
      - microservice-net

networks:
  microservice-net:
    external: true
